#tabs {
	float:left;
	width:100%;
	background:#2d2c2c;
	color: white;
	font-size:100%;
	line-height:normal;
	}
	
.logo{
	width :15%;

}

.navar-text{
	width:77%;
	text-align: right;
	padding-top: 1%;
	padding-left:7%;
}
.nav{

	margin-right: 8px;
	margin-left: 8px;
}
a.footer-link{
	padding-top: 5px;
	color: white;
}
a.linkk{
	color:#931e04;
}
a.label-name{
	color:#ffd400;	
}
a{
	color:black;

}
a:link{
	text-decoration: none;
}
a:hover{
	text-decoration:underline;
  color: red;

}
.Submmit {
  
    width:50px;
    height:20px;

    border: 1px solid #919191 ;
    border-radius: 15%;
    color:#f5f5f5
    text-decoration:none;
    background: #ffd400;
    box-shadow: 0 0 3px gray;
    font-size:13px;
   }


.Navigation{
		padding-top: 10px;
	background-color: #ffd400;
	height: 10%;
	font-family: Arial;
	font-size: 20px;


}
.body-gitna{
	padding-left: 10%;
}

.content{
	background-color :#e8e8e8;
	padding-top: 50px;
	height:100%;
		margin-right: : 300px;
	-webkit-box-shadow: -2px -18px 46px -10px rgba(168,165,168,0.71);
-moz-box-shadow: -2px -18px 46px -10px rgba(168,165,168,0.71);
box-shadow: -2px -18px 46px -10px rgba(168,165,168,0.71);
}
.horizontal-line{

	height: 11px;
	background-color: #ffd400;
	-webkit-box-shadow: -2px -18px 46px -10px rgba(168,165,168,0.71);
-moz-box-shadow: -2px -18px 46px -10px rgba(168,165,168,0.71);
box-shadow: -2px -18px 46px -10px rgba(168,165,168,0.71);
}
.img{
	background-color: #e5d2ce;
	padding-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
	border: 1px solid white;
	float:left;
}
.textbox-small{
	color:#ffd400;
	width:200px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
	float:left;
}

.textbox-large{
	color:black;
	width:275px;
padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	float:left;
}
.lowerbody{
	background-color: #2d2c2c;
	height:40%;
}
.bottombody{
	background-color:#2d2c2c;;
	height:5%;
}
.width{
	width: 100%;

}
.label {
	color: #ffd400;
	height: 30px;
	width: 20%;
	margin-top: -60px;
	padding-top: 10px;
	margin-left: 500px;
  background-color:black;
}
